{%include 'html/header.html'%}
<div class="container-fluid">
    <h2 style="text-align: center;"><span class="badge badge-secondary">Formul&aacute;rio de Ocorr&ecirc;ncias</span></h2>
</div>
<div class="container pt-3 my-3 border">
    <form class="form need-validation" novalidate action="{{url_for('report_occurrence')}}" method="post">
        <div class="form-group">
            <label for="occurrence_type">Tipo de Ocorr&ecirc;ncia:</label>
            <input class="form-control" name="occurrence_type" list="occurrences" placeholder="Tipo de ocorr&ecirc;ncia..." id="occurrence_type">
            <datalist id="occurrences">
                <option value="Choque entre viaturas">
                <option value="Despiste e/ou capotamento">
                <option value="Atropelamento">
                <option value="Trabalhos de manuten&ccedil;&atilde;o">
                <option value="Obstru&ccedil;&atilde;o da via de acesso">
                <option value="Lentid&atilde;o no tr&aacute;fego rodovi&aacute;rio">
                <option value="Inc&ecirc;ndio">
            </datalist>
        </div>
        <div class="form-group">
            <label for="occurrence_date">Data de Ocorr&ecirc;ncia:</label>
            <input type="datetime-local" class="form-control" name="occurrence_date" class="form-control" id="occurrence_date">
            <label for="description">Descri&ccedil;&atilde;o:</label>
            <textarea class="form-control" name="description" id="description"></textarea>
            <label for="location">Localiza&ccedil;&atilde;o:</label>
            <input class="form-control" list="location" placeholder="Localiza&ccedil;&atilde;o..." id="location">
            <datalist id="locations">
                {% for location in locations%}
                <option value="{{location}}">
                {% endfor%}
            </datalist>
        </div>
    </form>
</div>
</div>